@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.66em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 900;
  font-weight: bold;
}

.container {
  width: 1171px;
  margin: 0 auto;
}

.header {
  background-image: -moz-linear-gradient(
    121deg,
    rgb(55, 143, 217) 0%,
    rgb(78, 190, 254) 100%
  );
  background-image: -webkit-linear-gradient(
    121deg,
    rgb(55, 143, 217) 0%,
    rgb(78, 190, 254) 100%
  );
  background-image: -ms-linear-gradient(
    121deg,
    rgb(55, 143, 217) 0%,
    rgb(78, 190, 254) 100%
  );

  padding-top: 60px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.offer {
  color: white;
  margin-top: 100px;
}

.title {
  text-align: center;
}

span {
  font-size: 59px;
}

.intro {
  width: 415px;
  padding-top: 45px;
}

.btn {
  font-weight: 900;
  background: #f7d145;
  color: black;
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 225px;
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
}

.logo_header {
  display: flex;
  justify-content: space-between;
}

/* ----------------------TY WINDOW--------------- */

.goals {
  padding-top: 90px;
  padding-bottom: 125px;
}
.section-title {
  font-size: 30px;
  text-align: center;
}
.futures {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.future {
  width: 300px;
  background: url(../img/one.png) no-repeat top;
  padding-top: 100px;
  text-align: center;
}
.future-title {
  font-size: 19px;
}
.future-text {
  margin-top: 22px;
}
.future-travel {
  width: 275px;
  background: url(../img/ty.png) no-repeat top;
}
.future-value {
  background: url(../img/sry.png) no-repeat top;
  width: ;
}

/* --------------3window--------------- */

.order {
  background-color: rgb(239, 236, 244);
  padding-top: 90px;
  height: 550px;
}

.h2text {
  height: 55px;
}

input {
  width: 347px;
  margin: 0 auto;
  display: block;
  height: 49px;
  margin-top: 15px;
  padding-left: 15px;
}

.btns {
  margin: 0 auto;
  border: 0;
  font-weight: 900;
  background: #f7d145;
  color: black;
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 345px;
  margin-top: 5px;
  padding: 20px 0;
}

.footer {
  background-color: rgb(22, 77, 122);
  padding: 65px 0;
  background: #164d7a;
}

.end-h2 {
  color: #fff;
  font-size: 14px;
  margin: 0;
  text-align: center;
}
